<!--Heroes component template-->
<h2>My Heroes</h2>
<ul class="heroes">
  <!--Angular's repeater directive  -->
 <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect (hero)"><!--(for loop) repeats the host element for each element in the heroes variable -->
    <!--CSS class .select allows you to add styling to an element under certain conditions -->
   <span class="badge">{{hero.id}}</span> {{hero.name}}
 </li>
</ul>
<!-- binds selectedHero to the hero property this is a one way property binding
from the selectedHero property of the HeroesComponent to the hero property of the target elemetent (HeroDetailComponent)
-->
<!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>-->
<div *ngIf="selectedHero"> <!--binding the hero detail component to the hero property-->
  <h2>{{selectedHero.name | uppercase}} Details</h2> <!-- hero references a property in the class heroes.component.ts-->
  <div> <span>id: </span>{{selectedHero.id}}</div>
  <div> 
    <label>name: 
      <input [(ngModel)] ="selectedHero.name" placeholder="name"> <!-- allows two way binding of heroes name-->
    </label>
  </div>
  </div>